
/* 15-11-2025 - Business Consulting Html Template

**********************************************/


@media only screen and (min-width: 1700px){
	.sticky-logo-box {
		margin-right: 30px;
		max-width: 250px;
		height: auto;
		padding-left: 30px;
	}
}

@media only screen and (min-width: 1100px){
	.gemscend-hero-image {
		height: 80%;

		}
}


@media only screen and (max-width: 1700px){
	.main-header .header-lower .outer-box .ui-btn-outer{
		border-right: 0;
		margin-right: 0;
		padding-right: 0;
	}

	/* .header-style-five .info-btn,
	.header-style-two .info-btn,
	.header-style-one .info-btn{
		display: none;
	} */

	.header-style-one .header-lower .logo-box{
		margin-right: 30px;
	}
	
	.main-menu .navigation>li {
		margin-right: 40px;
	}

	.sticky-logo-box {
		margin-right: 30px;
		max-width: 250px;
		height: auto;
		padding-left: 30px;
	}

	.main-header .header-lower .logo-box {
		margin-right: 30px;
		max-width: 250px;
		height: auto;
	}

	.main-header .header-lower .logo-box img {
		max-width: 250px;
		height: auto;
	}

	.btn-style-register{
		padding: 16px 32px;
	}
	.btn-style-login {
		padding: 16px 32px;
	}

	.gemscend-banner-title {
		padding-top: 10px; /* Add padding from top instead of margin */
	}

	.gemscend-hero-image {
		background-position: center 10px;
	}

	/* .project-section .carousel-outer{
		margin-left: -100px;
		margin-right: -100px;
	}

	.features-section-three .carousel-outer{
		max-width: 1200px;
		padding: 0;
		margin: 0 auto;
	}

	.header-style-four .header-lower,
	.header-style-two .header-lower,
	.header-style-two .header-top{
		padding: 0 30px;
	}

	.header-style-five .header-lower{
		padding-right: 30px;
	} */
}

@media only screen and (max-width: 1439px){
	/* .main-header .header-lower .logo-box {
		min-width: 260px;
		margin-right: 20px;
	} */

	/* .header-top {
		margin-left: 220px;
		padding-right: 30px;
	} */

	.sticky-logo-box {
		margin-right: 30px;
		max-width: 150px;
		height: auto;
		padding-left: 30px;
	}

	.main-header .header-lower .logo-box {
		margin-right: 30px;
		max-width: 150px;
		height: auto;
	}

	.main-header .header-lower .logo-box img {
		max-width: 150px;
		height: auto;
	}

	.main-menu .navigation>li {
		margin-right: 15px;
	}

	.btn-style-register{
		padding: 12px 24px;
	}
	.btn-style-login {
		padding: 12px 24px;
	}

	.gemscend-banner-title {
		padding-top: 10px; /* Add padding from top instead of margin */
	}

	.gemscend-hero-image {
		background-position: center 10px;
	}
	
}


@media only screen and (max-width: 1199px){
	.header-top{
		margin-left: 0;
		padding: 0;
	}

	.sticky-logo-box {
		margin-right: 0px;
		max-width: 150px;
		height: auto;
		padding-left: 30px;
	}

	.main-header .header-lower .logo-box {
		margin-right: 0px;
		max-width: 150px;
		height: auto;
	}

	.main-header .header-lower .logo-box img {
		max-width: 150px;
		height: auto;
	}

	.main-menu .navigation>li {
		margin-right: 5px;
	}

	.btn-style-register{
		padding: 12px 18px;
	}
	.btn-style-login {
		padding: 12px 18px;
	}

	.main-header .main-box{
		align-items: center;
	}

	.main-header .header-lower .logo-box{
		margin-top: 0;
		min-height: auto;
	}

	.gemscend-banner-title {
		padding-top: 25px; /* Add padding from top instead of margin */
	}

	.gemscend-hero-image {
		background-position: center 10px;
	}

}


@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}

	.mobile-nav-toggler {
		display: block !important;
	}

	.top-earner-auto-container {
		padding: 0px 100px;
	}

}

/* Hide mobile nav toggler on screens above 1024px */
@media only screen and (min-width: 1025px) {
  .sticky-header .mobile-nav-toggler {
    display: none !important;
  }
  .mobile-nav-toggler {
    display: none !important;
  }
  
  /* Adjust navigation item spacing for larger screens */
  .main-menu .navigation > li {
    font-size: 10px !important;
  }

  	.btn-style-register{
		padding: 12px 28px;
	}
	.btn-style-login {
		padding: 12px 28px;
		margin-left: 20px;
	}
}

@media only screen and (max-width: 1024px){
	.sticky-header .mobile-nav-toggler {
		display: none !important;
	}
}


@media only screen and (max-width: 1023px){
	.sticky-header .mobile-nav-toggler {
		display: none !important;
	}
	.header-top,
	.main-header .main-menu {
		display: none;
	}

	.main-header .logo {
		max-width: 150px;
	}

	.main-header .logo img,
	.sticky-header .logo img {
		width: auto;
		max-width: none;
		max-height: 45px;
	}

	.mobile-nav-toggler {
		display: block;
	}

	.sticky-logo-box {
		min-width: auto;
		margin-right: 0px;
		max-width: 110px;
		padding-left: 30px;
	}

	.main-header .header-lower .logo-box {
		min-width: auto;
		margin-right: 0px;
		max-width: 110px;
	}

	
	.main-header .header-lower .logo-box .logo img {
		max-width: 110px;
	}

	.btn-style-register{
		padding: 12px 20px;
	}
	.btn-style-login {
		padding: 12px 20px;
		margin-left: 20px;
	}


	.main-header .main-box .nav-outer {
		width: auto;
	}

	.main-header .main-box{
		justify-content: space-between;
	}

	.gemscend-banner-title {
		font-weight: 900;
		color: #fff;
		text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
		margin: 0 !important; /* Remove all margins */
		padding-top: 20px; /* Add padding from top instead of margin */
	}

	.gemscend-hero-image {
		background-position: center 10px;
	}

}




@media only screen and (max-width: 767px){

	.main-slider .title{
		padding: 7px 20px;
	}

	.main-slider .title:before{
		display: none;
	}

	.sticky-logo-box {
		min-width: auto;
		margin-right: 0px;
		max-width: 140px;
		padding-left: 30px;
	}

	.main-header .header-lower .logo-box {
		min-width: auto;
		margin-right: 0px;
		max-width: 140px;
	}

	
	.main-header .header-lower .logo-box .logo img {
		max-width: 140px;
	}

	.gemscend-banner-title {
		
		padding-top: 10px; /* Add padding from top instead of margin */
	}

	.top-earner-auto-container {
		padding: 0px 100px;
	}

	.btn-style-register{
		padding: 12px 20px;
		margin-top: 20px;
	}
	.btn-style-login {
		padding: 12px 20px;
		margin-top: 20px;
		margin-left: 20px;
	}
	
	
}



@media only screen and (max-width: 599px){
	.main-header .header-lower .logo-box {
		padding-left: 0;
	}

	.top-earner-auto-container {
		padding: 0px 40px;
	}
	
	.btn-style-register{
		padding: 12px 20px;
		margin-top: 20px;
	}
	.btn-style-login {
		padding: 12px 20px;
		margin-top: 20px;
		margin-left: 20px;
	}
	
	.sticky-logo-box {
		min-width: auto;
		margin-right: 0px;
		max-width: 80px;
		padding-left: 30px;
	}

	.main-header .header-lower .logo-box {
		min-width: auto;
		margin-right: 0px;
		max-width: 180px;
	}

	
	.main-header .header-lower .logo-box .logo img {
		max-width: 180px;
	}
}







@media only screen and (max-height: 600px){

	.gemscend-get-started{
		padding: 16px 40px;
	}

}