{% load static %}
<footer class="footer-section-1 fix footer-bg bg-cover" style="background-color: #00150F;">
    <div class="container-fluid"> 
        <div class="row text-center">
            <div class="footer-widget-wrapper">
                <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 wow fadeInUp" data-wow-delay=".2s">
                    <div class="footer-widget-items mt-30">
                    <div class="widget-title mb-25">
                        <a href="{% url 'index' %}" class="footer-logo">
                        <img style="padding-left: 20px;" src="{% static 'images/gemscend/gemscend_grey_logo.png' %}" alt="img" />
                        </a>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="footer-widget-items mt-30">
                        <div class="widget-title" style="margin-bottom: 5px !important">
                            <h3 class="font-size-24 font-weight-500 text-gemscend-dark-emerald-75">Quick Links</h3>
                        </div>
                        <ul class="user-links">
                            <li><a style="color: white;" href="{% url 'index' %}#pricing">Select Plans</a></li>
                            <li><a style="color: white;" href="https://app.gemscend.com/">E-Learning</a></li>
                            <li><a style="color: white;" href="{% url 'index' %}#how-it-works">How it Works</a></li>
                            <li><a style="color: white;" href="{% url 'refer_and_earn' %}">Refer and Earn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="footer-widget-items mt-30">
                    
                        <div class="widget-title mb-25">
                            <h3 class="font-size-24 font-weight-500 text-gemscend-dark-emerald-75">Get In Touch</h3>
                            <a href="mailto:support@gemscend.com" class="font-size-15 text-white font-weight-500">
                                support@gemscend.com
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="footer-widget-items mt-30">
                        <div class="widget-title mb-25">
                        <h3 class="font-size-24 font-weight-500 text-gemscend-dark-emerald-75">
                            Socials
                        </h3>
                        </div>

                        <!-- wrapper only for ul -->
                        <div class="social-links-grid">
                            <a href="https://instagram.com/gemscend" target="_blank" class="social-link">
                                <img src="{% static 'images/gemscend/instagram_white.png' %}" alt="Instagram Icon">
                            </a>
                            <a href="https://facebook.com/gemscend" target="_blank" class="social-link">
                                <img src="{% static 'images/gemscend/facebook_white.png' %}" alt="Facebook Icon">
                            </a>
                            <a href="https://twitter.com/gemscend" target="_blank" class="social-link">
                                <img src="{% static 'images/gemscend/twitter_white.png' %}" alt="Twitter Icon">
                            </a>
                            <a href="https://linkedin.com/company/gemscend" target="_blank" class="social-link">
                                <img src="{% static 'images/gemscend/linkedin_white.png' %}" alt="LinkedIn Icon">
                            </a>
                            <a href="https://youtube.com/@gemscend" target="_blank" class="social-link">
                                <img src="{% static 'images/gemscend/youtube_white.png' %}" alt="YouTube Icon">
                            </a>
                            <a href="https://tiktok.com/@gemscend" target="_blank" class="social-link">
                                <img src="{% static 'images/gemscend/tiktok_white.png' %}" alt="TikTok Icon">
                            </a>
                        </div>



                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>


    
    <div class="footer-bottom">
        <div class="auto-container" style="display:flex; justify-content:left; flex-wrap:wrap; align-items:center; text-align:center; gap:40px; row-gap: 5px;">
            <p class="wow fadeInUp text-white" data-wow-delay=".3s" style="margin:0;">
                © Gemscend Limited. All Rights Reserved
            </p>


            <p class="wow fadeInUp" data-wow-delay=".3s" style="margin-left:60px; text-align: left !important; justify-content: left !important;"><a href="{% url 'about-us' %}" class="text-white">About Us</a></p>
            <p class="wow fadeInUp" data-wow-delay=".3s"><a href="{% url 'legal' %}#privacy_policy" class="text-white">Privacy Policy</a></p>
            <p class="wow fadeInUp" data-wow-delay=".3s"><a href="{% url 'legal' %}#disclaimer" class="text-white">Disclaimer</a></p>
            <p class="wow fadeInUp" data-wow-delay=".3s"><a href="{% url 'legal' %}#terms_and_conditions" class="text-white">Terms and Conditions</a></p>

            <p class="wow fadeInUp text-white" style="font-size:10px; text-align: left !important;" data-wow-delay=".3s" style="margin:0;">
                Gemscend is an affiliate of Prop Account LTD. Prop Account LTD offers fee-based simulated trading assessments for Potential Traders. All funding assessments are provided by Prop Account LTD and all assessment fees are paid to Prop Account LTD. If you qualify for a Funded Account, you will be required to enter into a Trader Agreement with Prop Account LTD. Prop Account LTD does not provide any trading education or other services.
            </p>
        </div>
        

    </div>
</footer>