{% load static %}

<header class="main-header header-style-one header-5">
    <!-- Header Lower -->
    <div class="header-lower header-lower5 show-header-section">
        <!-- Main box -->
        <div class="main-box">				
            <!--Nav Box-->
            <div class="nav-outer">
                <div class="logo-box">
                    <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/gemscend/gemscend_grey_logo.png' %}" alt="" title="gemscend"></a></div>
                </div>
                <nav class="nav main-menu">
                    <ul class="navigation">
                        <li><a href="{% url 'index' %}#how-it-works">How It Works</a></li>
                        <li><a href="{% url 'index' %}#pricing">Pricing</a></li>
                        <li><a href="{% url 'faqs' %}">FAQ's</a></li>
                        <li><a href="{% url 'refer_and_earn' %}">Refer & Earn</a></li>
                        <li><a href="https://elearning.gemscend.com">E-Learning</a></li>
                        <li class="dropdown">
                            <a href="#">
                                <img src="https://flagcdn.com/gb.svg" alt="English" class="flag-icon">
                                EN
                            </a>
                        </li>

                        <div class="nav-buttons">
                            <a href="https://dashboard.gemscend.com/en/sign-in" class="theme-btn btn-style-login btn-outline">
                                Log In
                            </a>
                            <a href="https://dashboard.gemscend.com/en/sign-up" class="theme-btn btn-style-register btn-solid">
                                Register Now
                            </a>
                        </div>


                    </ul>
                </nav>
                
                <!-- Mobile Nav toggler -->
                <div class="mobile-nav-toggler">
                    <span class="icon lnr-icon-bars" style="color:#000 !important;"></span>
                </div>

            </div>
        </div>
    </div>
    <!-- End Header Lower -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>

        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="upper-box">
                <div class="nav-logo"><a href="{% url 'index' %}"><img src="{% static 'images/gemscend/logo_grey.png' %}" alt=""></a></div>
                <div class="close-btn"><i class="icon fa fa-times"></i></div>
            </div>

            <ul class="navigation clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
            </ul>
            


            <ul class="social-links">
                <li>
                    <a href="https://twitter.com/gemscend">
                        <img src="{% static 'images/gemscend/X_twitter.png' %}" alt="Twitter" class="social-icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/share/17cUq46wys/?mibextid=wwXIfr">
                        <img src="{% static 'images/gemscend/facebook.png' %}" alt="Facebook" class="social-icon">
                    </a>
                </li>
                <li>
                    <a href="https://tiktok.com/@gemscend">
                        <img src="{% static 'images/gemscend/tiktok.png' %}" alt="Tiktok" class="social-icon">
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/gemscend">
                        <img src="{% static 'images/gemscend/instagram.png' %}" alt="Instagram" class="social-icon">
                    </a>
                </li>
            </ul>

        </nav>
    </div><!-- End Mobile Menu -->

    <!-- Header Search -->
    <div class="search-popup">
        <span class="search-back-drop"></span>
        <button class="close-search"><span class="fa fa-times"></span></button>
        <div class="search-inner">
        <form method="post" action="index.html">
            <div class="form-group">
            <input type="search" name="search-field" value="" placeholder="Search..." required="">
            <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        </div>
    </div>
    <!-- End Header Search -->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="">
        <div class="inner-container">
            <!--Logo-->
        <div class="sticky-logo-box">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/gemscend/gemscend_dark_logo.png' %}" alt="img" /></a>
            </div>
        </div>

            <!--Right Col-->
            <div class="nav-outer">
            <!-- Main Menu -->
            <nav class="main-menu">
                <div class="navbar-collapse show collapse clearfix">
                <ul class="navigation clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </ul>
                </div>
            </nav>
            <div class="outer-box">
                <a href="https://dashboard.gemscend.com/en/sign-in" class="theme-btn btn-style-login btn-outline">
                    Log In
                </a>
                <a href="https://dashboard.gemscend.com/en/sign-up" class="theme-btn btn-style-register btn-solid">
                    Register Now
                </a>
                <!-- Mobile Nav toggler -->
                <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
            </div>
            <!-- Main Menu End-->

            <!--Mobile Navigation Toggler-->
            <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
            </div>
        </div>
        </div>
    </div>
    <!-- End Sticky Menu -->
</header>