
<!DOCTYPE html>
{% load static %}
<html lang="en" data-tm-layout="dark">
<head>
<meta charset="utf-8">
<title>Gemscend - About Us </title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}?v=2.0" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}?v=2.0" rel="stylesheet">
<link href="{% static 'css/style-dark.css' %}" rel="stylesheet">

<link rel="icon" href="/static/images/gemscend/gemsend_favicon.png" sizes="48x48" type="image/png">



{% comment %} <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WV7BXSSZ');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV7BXSSZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --> {% endcomment %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z57QRX63F8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z57QRX63F8');
</script>



<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="page-wrapper">


	<!-- Scroll To Top -->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <!-- Email Button -->
    <div id="emailButton" class="email-floating-btn">
        <img src="{% static 'images/gemscend/default.png' %}" alt="Email Us" id="emailIcon">
    </div>

	<!-- Main Header-->
        {% include 'components/navbar_dark_background.html' with company_name="Gemscend" year=2024 %}
	<!--End Main Header -->

	<!--Hero Section -->
	<section class="about-us pt-150 pb-90 fix">
        <div class="gemscend-glow-left"></div>
        <div class="gemscend-glow-right"></div>
        
        <div class="auto-container">

            <h4 class="sub-title wow fadeInUp">
                WELCOME TO GEMSCEND
            </h4>


            <div class="content wow fadeInUp" data-wow-delay="0.2s">
                <p>It all started with me falling head over heels for trading. The charts, the strategies, the thrill. I loved it all. But there was just one tiny problem. My account was the size of a sandwich. Trading with $100 and dreaming of big profits? Yeah, that didn’t exactly add up.</p>

                <p>So what did I do? I overtraded, I over-risked, I stressed out trying to make ends meet. Spoiler alert: that didn’t work out too well.</p>

                <p>Then, I discovered something game-changing: prop trading. Imagine this, you pay as little as $35, pass a trading challenge, and suddenly you’re handling a $3,000 account. My mind was blown. I thought: what if more traders knew about this? What if we could make the process easier, fun, and stress-free?</p>

                <p>That’s when my partners and I built Gemscend. A place where traders don’t just trade, they grow. Here, you train, prove your skills, and unlock access to trading accounts as large as <strong style="font-weight: 800; color: #fff">$1,000,000.</strong> No more tiny accounts, no more sleepless nights over blown balances, just pure trading growth.</p>

                <p style="font-weight: 800; color: #fff">Welcome to Gemscend. Your trading career, but levelled up.</p>
            </div>

            <div class="who-we-serve mt-5">
                <h3 class="text-gemscend-dark-emerald-75 mb-9">Who We Serve</h3>
                <div class="row justify-content-center gy-4">
                    <div class="col-md-4 col-sm-6">
                        <div class="serve-card">
                            <img src="{% static 'gifs/Professional.gif' %}" alt="Beginner Trader Icon" class="serve-icon mb-3">
                            <h5>Beginner Traders</h5>
                            <p>Just starting out, learning the ropes.<br>Test strategies safely with funded accounts instead of burning your savings.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="serve-card">
                            <img src="{% static 'gifs/Retail.gif' %}" alt="Intermediate Trader Icon" class="serve-icon mb-3">
                            <h5>Intermediate Traders</h5>
                            <p>Have some experience but stuck with small capital?<br>Trade with bigger accounts so you can finally go full-time.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="serve-card">
                            <img src="{% static 'gifs/Enthusiast.gif' %}" alt="Professional Trader Icon" class="serve-icon mb-3">
                            <h5>Professional Traders</h5>
                            <p>Skilled, disciplined, maybe even ex-prop traders.<br>Get access to higher capital allocations and maximize profits.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



	<!-- Footer Section Start -->
        {% include 'components/footer.html' with company_name="Gemscend" year=2024 %}
    <!-- Footer Section Start -->

	

</div><!-- End Page Wrapper -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const emailButton = document.getElementById('emailButton');

        // On click: redirect to contact us page
        emailButton.addEventListener('click', function() {
            window.location.href = "/contact/us";
        });
    });
</script>



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/jquery.js' %}"></script> 
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/gsap.js' %}"></script>
<script src="{% static 'js/gsap-scroll-to-plugin.js' %}"></script>
<script src="{% static 'js/gsap-scroll-smoother.js' %}"></script>
<script src="{% static 'js/gsap-scroll-trigger.js' %}"></script>
<script src="{% static 'js/gsap-split-text.js' %}"></script>
<script src="{% static 'js/split-type.min.js' %}"></script>
<script src="{% static 'js/parallaxie.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/bxslider.js' %}"></script>
<script src="{% static 'js/nice-select.min.js' %}"></script>
<script src="{% static 'js/knob.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>